// File Path: /Users/danny/Projects/yap/src/resources/sass/_variables.scss

// Body
$body-bg: #f4f6f8;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$text-color: #333;

// Colors
$primary-color: #2962ff;
$secondary-color: #00b0ff;

// Footer
$footer-bg: #eee;
$footer-text-color: #666;

// Card
$card-bg: #f8f9fa; // Light gray
