/nbproject/private/
cookie.txt
.idea
.DS_Store
*_cookie.txt
config.php
config.*.php
config_*.php
test.php
admin/dist/js
admin/dist/css/*.css
yap.iml
package-lock.json
endpoints/croutonjs
yarn-error.log
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
