/nbproject/private/
cookie.txt
.idea
.DS_Store
*_cookie.txt
config.php
config.*.php
!config.test.php
test.php
public/dist/croutonjs
public/dist/js/*.js
public/dist/css/*.css
public/css/*.css
public/js/*.js
!daterangepicker.js
!daterangepicker.css
yap.iml
yarn-error.log
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
.docusaurus
.cache-loader
docs/node_modules
docs/build
!docs/package-lock.json
test-report.xml
tests/reports
coverage.xml
.phpunit.cache
memory
