Options +FollowSymLinks
RewriteEngine on

RewriteCond %{REQUEST_URI} .*\/msr\/([0-9.\-]*)\/([0-9.\-]*)$
RewriteRule ([^/]+)/([^/]+)$ endpoints/meeting-results.php?latitude=$1&longitude=$2 [NC,L]

RewriteCond %{REQUEST_URI} .*croutonjs(.*)
RewriteRule ".*croutonjs/(.*)$" endpoints/croutonjs/$1 [NC,L]

RewriteCond %{REQUEST_URI} !.*(?:api|admin|lang).*
RewriteRule ([^/]+)/?$ public/$1 [NC]
